.place {
  padding: 80px 0 0;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto;
  gap: 48px 40px;
}

.place:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding: 71px 0 0;
    width: 100%;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding: 64px 0 0;
    grid-template-columns: auto;
    gap: 31px;
  }
}