.place__url-heading {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Inter';
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    padding-left: 16px;
  }
}